@import url('https://fonts.googleapis.com/css2? family = Cabin: ital, wght @ 1.500 & display = swap');

 /*geral*/

body, header, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    max-width: 100%;   
}

a{
    text-decoration: none;
    color: white;
}

/*HEADER & MENU*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(112, 112, 112);
    color: white;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    font-size: 15px;
}

.estilosSub:hover{
    color: white;
    text-decoration: underline;
    
}

/*BOTÃO DE LOGIN*/

#login{
    background: #1a73e8;
    border: 0.1px;
    padding: 10px 22px 10px;
    font-size: 15px;
    border-radius: 4px; 
    color: #fff;  
}

#login:hover{
    background: #2986ff;
}

/*FORMULARIO E IMG PRINCIPAL*/

section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10%;
    background: rgba(255, 255, 255, 0.349);
    font-family: Cabin sans-serif;
    justify-content: center;
}


.ImgPrincipal{
    display: flex;
   
    
}
.ImgPrincipal img{
    width: 400px;
    height: 350px;
    
}


/*RODAPÉ*/

footer{
    background: rgb(112, 112, 112);
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    flex-direction: column; 
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    align-items: center;
    padding: 5px;
}

.rodape{
    display: flex;
    height: 100%;
    
    
}
.rodape p{
    font-size: 12px;
    
}
.redes{
    display: block;
    padding: 4px;
}

@media (max-width: 600px){
    footer{
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        bottom: 0;
    }
}