/*geral*/

body, header, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    max-width: 100%;
    
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(67, 68, 67);
    color: white;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    
}

.menu li a{
    display: block;
    padding: 10px;
}

section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background: rgb(100, 101, 102);
}


.ImgPrincipal{
    display: flex;
}

footer{
    display: flex;
}

.rodape{
    display: flex;
    background: cornflowerblue;
    height: 50%;
    
    
}